<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
    <title>All Alerts</title>
</head>

<body>
    <div th:replace="fragments/sidebar :: sidebar('allAlerts')">

    </div> <!-- .sidebar.allAlerts -->
    <div class="main">
        <div id="allTradeDataFrame">
            <div id="allTradeDataTitle">
                <div class="dataContainer notCentre">
                    Trading Activity
                </div> <!-- .dataContainer.notCentre -->
                <!--<div id="orderByDropdown">-->
                    <!--<select name="orderBy">-->
                        <!--<option value="default">Order By:</option>-->
                        <!--<option value="time">Time</option>-->
                        <!--<option value="symbol">Symbol</option>-->
                        <!--<option value="type">Type</option>-->
                    <!--</select>-->
                <!--</div> &lt;!&ndash; #orderByDropdown &ndash;&gt;-->
            </div> <!-- #allTradeDataTitle -->
            <div id="allTradeDataTable">
                <table id="myTable">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Symbol</th>
                        <th>Sector</th>
                        <th>Currency</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="anomalousEvent : ${anomalousEvents}" th:with="symbol=${symbolRepository.findOne(anomalousEvent.getSymbolId())}">
                        <td th:text="${#dates.format(anomalousEvent.getTime(), 'yyyy-MM-dd HH:mm:ss')}">Time</td>
                        <td th:text="${symbol.getSymbolName()}">Symbol</td>
                        <td th:text="${sectorRepository.findOne(symbol.getSectorId()).getSectorName()}">Sector</td>
                        <td th:text="${currencyRepository.findOne(anomalousEvent.getCurrencyId()).getCurrencyName()}">Currency</td>
                        <td th:if="${anomalousEvent.getAnomalousEventType() == 1}">Individual Trade</td>
                        <td th:if="${anomalousEvent.getAnomalousEventType() == 2}">EMA over 5 periods</td>
                        <td><a class="button" th:href="@{/details/{type}/{id}(type=${anomalousEvent.getAnomalousEventType()},id=${anomalousEvent.getId()})}">Details</a></td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi there</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    <tr>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                        <td>Hi</td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- #allTradeDataTable -->
        </div> <!-- #allTradeDataFrame -->
    </div> <!-- .main -->
    <style >
        input[type="button"] {
            transition: all .3s;
            /*border: 1px solid #ddd;*/
            border: none;
            padding: 4px 8px;
            text-decoration: none;
            border-radius: 0;
            font-size: 15px;
            margin: 3px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
            color :#fff;
        }

        input[type="button"]:not(.active) {
            background-color: #5E5E5E;
        }

        .active {
            background-color: #272727;
        }

        input[type="button"]:hover:not(.active) {
            background-color: #484848;
            cursor: pointer;
            font-weight: 400;
        }

        input[type="button"]:disabled {
            color: #494949;
        }

        input[type="button"]:hover:disabled {
            background-color: #5E5E5E;
            cursor: not-allowed;
            font-weight: 300;
        }

        #buttons {
            text-align: center;
        }
    </style>
    <script th:src="@{/scripts/pagination.js}"></script>
</body>

</html>