<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
    <title>Details</title>
</head>

<body>
<div th:replace="fragments/sidebar :: sidebar('details')">

</div> <!-- .sidebar.details -->
<div class="main">
    <div id="detailsFrame">
        <div id="detailsMessage" th:if="${message != null}">
            <span th:text="${message}"></span>
        </div>
        <div id="detailTopBar">
            <p id="detailTitle">Anomalous Event:</p>
            <a id="falsePositive" th:href="@{/markAsFalsePositive/{type}/{id}(type=${anomalousEvent.getAnomalousEventType()},id=${anomalousEvent.getId()})}">Mark as false positive</a>
        </div> <!-- #detailTopBar -->
        <div id="detailMainFrame">
            <div id="timeCatBar">
                <div id="timeBar" class="dataContainer notCentre">
                    <img src="../../static/images/icons/timeIcon.svg" id="timeIcon" alt="Time Icon" th:attr="src=@{/images/icons/timeIcon.svg}">
                    <div id="timeText" th:text="${#dates.format(anomalousEvent.getTime(), 'yyyy-MM-dd HH:mm:ss')}">18:28:44</div>
                </div> <!-- #timeBar.dataContainer.notCentre -->
            </div> <!-- #timeCatBar -->
            <div id="detailTradeInfo" th:with="symbol=${symbolRepository.findOne(anomalousEvent.getSymbolId())}">
                <div class="detailTradeInfoLine"><strong>Symbol: </strong><span th:text="${symbol.getSymbolName()}"></span></div>
                <div class="detailTradeInfoLine"><strong>Sector: </strong><span th:text="${sectorRepository.findOne(symbol.getSectorId()).getSectorName()}"></span></div>
                <div class="detailTradeInfoLine"><strong>Currency: </strong><span th:text="${currencyRepository.findOne(anomalousEvent.getCurrencyId()).getCurrencyName()}"></span></div>
                <div class="detailTradeInfoLine" th:if="${anomalousEvent.getAnomalousEventType() == 1}"><strong>Type:</strong> Individual Trade</div>
                <div class="detailTradeInfoLine" th:if="${anomalousEvent.getAnomalousEventType() == 1}"><strong>Size:</strong> <span th:text="${anomalousEvent.getSize()}"></span></div>
                <div class="detailTradeInfoLine" th:if="${anomalousEvent.getAnomalousEventType() == 1}"><strong>Bid Price:</strong> <span th:text="${anomalousEvent.getBidPrice()}"></span></div>
                <div class="detailTradeInfoLine" th:if="${anomalousEvent.getAnomalousEventType() == 1}"><strong>Ask Price:</strong> <span th:text="${anomalousEvent.getAskPrice()}"></span></div>
                <div class="detailTradeInfoLine" th:if="${anomalousEvent.getAnomalousEventType() == 1}"><strong>Price:</strong> <span th:text="${anomalousEvent.getPrice()}"></span></div>
                <div class="detailTradeInfoLine" th:if="${anomalousEvent.getAnomalousEventType() == 2}"><strong>Type:</strong> EMA over 5 periods</div>
            </div>
            <div id="detailVisualisation">
                <div class="detailDataTitle">
                    <div class="dataContainer notCentre">
                        Data Visualisation
                    </div> <!-- .dataContainer.notCentre -->
                </div> <!-- #tradeDataTitle -->
                <input type="hidden" id="anomalousEventId" th:value="${anomalousEvent.getId()}">
                <div id="tradeData">
                    <div id="detailPriceGraph" class="detailGraph fullWidth">
                    </div> <!-- #detailPriceGraph -->
                    <div id="detailSizeGraph" class="detailGraph fullWidth">
                    </div> <!-- #detailSizeGraph -->
                </div> <!-- #tradeData -->
            </div> <!-- #tradeDataFrame -->
        </div> <!-- #detailVisulaisation -->
    </div> <!-- #detailsFrame -->
</div> <!-- .main -->

<!-- PLOTLY GRAPH -->
<script th:src="@{https://cdn.plot.ly/plotly-latest.min.js}"></script>
<script th:inline="javascript">
    function plot(x, y, anomalous_x, anomalous_y, graph) {
        var anomalous = {
            x: anomalous_x,
            y: anomalous_y,
            mode: 'markers',
            type: 'scatter',
            name: 'Anomalous'
        };

        var normal = {
            x: x,
            y: y,
            mode: 'lines',
            type: 'scatter',
            name: 'Normal'
        };

        var data = [normal, anomalous];

        var layout = {
            margin: {
                l: 25,
                r: 10,
                b: 30,
                t: 10,
                pad: 4
            },
            paper_bgcolor: 'transparent',
            plot_bgcolor: '#494949',
            font: {
                family: 'Ubuntu, sans-serif',
                color: '#fff'
            },
            xaxis: {
                gridcolor: '#5E5E5E'
            },
            yaxis: {
                gridcolor: '#5E5E5E'
            },
            hovermode: 'closest',
            autosize: true
        };

        Plotly.newPlot(graph, data, layout);
    }

    var priceHttp = new XMLHttpRequest();
    var sizeHttp = new XMLHttpRequest();

    priceHttp.onreadystatechange = function () {
        if (priceHttp.readyState == 4 && priceHttp.status == 200 ) {
            var symbolData = JSON.parse(priceHttp.responseText);
            plot(symbolData.rollingX, symbolData.rollingY, symbolData.anomalousX, symbolData.anomalousY, 'detailPriceGraph');
            document.getElementsByClassName('modebar')[0].style.display = "none";
        }
    };

    sizeHttp.onreadystatechange = function () {
        if (sizeHttp.readyState == 4 && sizeHttp.status == 200 ) {
            var symbolData = JSON.parse(sizeHttp.responseText);
            plot(symbolData.rollingX, symbolData.rollingY, symbolData.anomalousX, symbolData.anomalousY, 'detailSizeGraph');
            document.getElementsByClassName('modebar')[0].style.display = "none";
        }
    };

    var anomalousEventId = document.getElementById('anomalousEventId').value;
    priceHttp.open('GET', '[(@{/api/getAnomalousTradePriceData/})]' + anomalousEventId, true);
    priceHttp.send();

    sizeHttp.open('GET', '[(@{/api/getAnomalousTradeSizeData/})]' + anomalousEventId, true);
    sizeHttp.send();

    /*]]>*/
</script>
</body>

</html>