<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
</head>

<body>
<div class="sidebar" th:classappend="${page=='dashboard'} ? 'dashboard' : (${page=='allAlerts'} ? 'allAlerts' : 'details')" th:fragment="sidebar(page)">
    <div id="logo">
        <div id="logoHook" class="hook"></div>
        <img src="../../static/images/icons/logoImageWhiteShadow.svg" id="logoImage" alt="Logo" th:attr="src=@{/images/icons/logoImageWhiteShadow.svg}">
    </div> <!-- #logo -->
    <div id="titleHook" class="hook">
        <div id="titleText" th:switch="${page}">
            <th:block th:case="'dashboard'">Dashboard</th:block>
            <th:block th:case="'allAlerts'">All Alerts</th:block>
            <th:block th:case="'details'">Details</th:block>
        </div> <!-- #titleText -->
    </div> <!-- #titleHook.hook -->
    <div id="backHook" class="hook" th:if="${page!='dashboard'}">
        <a href="/">
            <img src="../../static/images/icons/arrow.svg" id="backIcon" title="Back to Dashboard" th:attr="src=@{/images/icons/arrow.svg}">
        </a>
    </div> <!-- #backHook.hook -->
    <div id="dataButtons">
        <div id="streamHook" class="hook">
            <div class="dataContainer">
                <img src="../../static/images/icons/PLAY.svg" id="streamIcon" alt="Stream Data Icon" th:attr="src=@{/images/icons/PLAY.svg}">
                <div id="streamText">Stream Data</div>
            </div> <!-- .dataContainer -->
        </div> <!-- #streamHook.hook -->
        <div id="uploadHook" class="hook">
            <div class="dataContainer">
                <img src="../../static/images/icons/ADD.svg" id="uploadIcon" alt="Upload Data Icon" th:attr="src=@{/images/icons/ADD.svg}">
                <div id="uploadText">Upload Data</div>
            </div> <!-- .dataContainer -->
        </div> <!-- #uploadHook.hook -->
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                </div> <!-- .modal-header -->
                <div class="modal-body">
                    <h2>Upload Data File</h2>
                    <form name="dataUpload" id="fileUpload" th:action="@{/upload}" enctype="multipart/form-data" method="post">
                    <label id="selectFileLabel">
                        <input type="file" name="file" id="selectFile"/>
                        Select File
                    </label>
                    </form>
                    <p id="fileSelected">No file selected</p>
                </div> <!-- .modal-body -->
                <div class="modal-footer">
                    <button id="uploadButton">Upload and Analyse</button>
                </div> <!-- .modal-footer -->
            </div> <!-- .modal-content -->
        </div> <!-- #myModal.modal -->
    </div> <!-- #dataButtons -->
    <img src="../../static/images/icons/alertIcon.svg" id="alertIcon" alt="Alert Icon" th:attr="src=@{/images/icons/alertIcon.svg}">

    <!-- JQUERY -->
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js}"></script>

    <!-- FILE UPLOAD POPUP -->
    <script th:src="@{/scripts/modal.js}"></script>
    <script th:src="@{/scripts/selectFile.js}"></script>

    <!-- ALERT ICON PULSE -->
    <script th:src="@{/scripts/pulse.js}"></script>
</div> <!-- .sidebar -->
</body>

</html>