<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
<div class="sidebar dashboard">
    <div id="logo">
        <div id="logoHook" class="hook"></div>
        <img src="../../static/images/icons/logoImageWhiteShadow.svg" id="logoImage" alt="Logo" th:attr="src=@{/images/icons/logoImageWhiteShadow.svg}">
    </div> <!-- #logo -->
    <div id="titleHook" class="hook">
        <div id="titleText">Dashboard</div>
    </div> <!-- #titleHook.hook -->
    <div id="dataButtons">
        <div id="streamHook" class="hook">
            <div class="dataContainer">
                <img src="../../static/images/icons/PLAY.svg" id="streamIcon" alt="Stream Data Icon" th:attr="src=@{/images/icons/PLAY.svg}">
                <div id="streamText">Stream Data</div>
            </div> <!-- .dataContainer -->
        </div> <!-- #streamHook.hook -->
        <div id="uploadHook" class="hook">
            <div class="dataContainer">
                <img src="../../static/images/icons/ADD.svg" id="uploadIcon" alt="Upload Data Icon" th:attr="src=@{/images/icons/ADD.svg}">
                <div id="uploadText">Upload Data</div>
            </div> <!-- .dataContainer -->
        </div> <!-- #uploadHook.hook -->
    </div> <!-- #dataButtons -->
</div> <!-- .sidebar.dashboard -->
<div class="main">
    <div id="dashboardFrame">
        <div id="anomalyFrame">
            <div id="anomalyTitle">
                <div class="dataContainer notCentre">
                    Anomalies
                </div> <!-- .dataContainer.notCentre -->
            </div> <!-- #anomalyTitle -->
            <div id="anomalyTable">
                <table>
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Symbol</th>
                        <th>Sector</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Buyer</th>
                        <th>Seller</th>
                        <th>Bid Price</th>
                        <th>Ask Price</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    <tr>
                        <td>01:03:34</td>
                        <td>unknown</td>
                        <td>symb</td>
                        <td>sect</td>
                        <td>5254.46</td>
                        <td>325</td>
                        <td>Bob</td>
                        <td>Charles</td>
                        <td>3424.15</td>
                        <td>534.24</td>
                        <td><a th:href="@{/details}" class="detailsIcon" title="View Details"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- #anomalyTable -->
        </div> <!-- #anomalyFrame -->
        <div id="tradeDataFrame">
            <div id="tradeDataTitle">
                <div class="dataContainer notCentre">
                    Latest Trading Activity
                </div> <!-- .dataContainer.notCentre -->
                <a th:href="@{/allTrades}" id="viewTradesIcon" title="View All Trades"></a>
            </div> <!-- #tradeDataTitle -->
            <div id="tradeData">
                <div id="tradeDataTableFrame">
                    <div id="tradeDataTable">
                        <table>
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Symbol</th>
                                <th>Sector</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>

                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>

                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>

                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            <tr>
                                <td>01:03:34</td>
                                <td>symb</td>
                                <td>sect</td>
                                <td>5254.46</td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!-- #tradeDataTable -->
                </div> <!-- #tradeDataTableFrame -->
                <div id="tradeDataGraph">
                    GRAPH
                </div> <!-- #tradeDataGraph -->
            </div> <!-- #tradeData -->
        </div> <!-- #tradeDataFrame -->
    </div> <!-- #dashboardFrame -->
</div> <!-- .main -->
</body>

</html>