<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
<div th:replace="fragments/sidebar :: sidebar('dashboard')">
    
</div> <!-- .sidebar.dashboard -->
<div class="main">
    <div id="dashboardFrame">
        <div id="dashboardMessage" th:if="${message != null}">
            <span th:text="${message}"></span>
        </div>
        <div id="anomalyFrame">
            <div id="anomalyTitle">
                <div class="dataContainer notCentre">
                    Anomalies
                </div> <!-- .dataContainer.notCentre -->
                <a th:href="@{/allAlerts}" id="viewTradesIcon" title="View All ALerts"></a>
            </div> <!-- #anomalyTitle -->
            <div id="anomalyTable">
                <table>
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Symbol</th>
                        <th>Sector</th>
                        <th>Currency</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="anomalousEvent : ${anomalousEvents}" th:with="symbol=${symbolRepository.findOne(anomalousEvent.getSymbolId())}">
                        <td th:text="${#dates.format(anomalousEvent.getTime(), 'yyyy-MM-dd HH:mm:ss')}">Time</td>
                        <td th:text="${symbol.getSymbolName()}">Symbol</td>
                        <td th:text="${sectorRepository.findOne(symbol.getSectorId()).getSectorName()}">Sector</td>
                        <td th:text="${currencyRepository.findOne(anomalousEvent.getCurrencyId()).getCurrencyName()}">Currency</td>
                        <td th:if="${anomalousEvent.getAnomalousEventType() == 1}">Individual Trade</td>
                        <td th:if="${anomalousEvent.getAnomalousEventType() == 2}">EMA over 5 periods</td>
                        <td><a class="button" th:href="@{/details/{type}/{id}(type=${anomalousEvent.getAnomalousEventType()},id=${anomalousEvent.getId()})}">Details</a></td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- #anomalyTable -->
        </div> <!-- #anomalyFrame -->
        <div id="tradeDataFrame">
            <div id="tradeDataTitle">
                <div id="timeBar" class="dataContainer notCentre">
                    Latest Trading Activity
                </div> <!-- #tradeDataTitle.dataContainer.notCentre -->
                <div id="symbolDropdown">
                    <select name="symbolSelector" id="symbolList">
                    </select>
                </div> <!-- #symbolDropdown -->
            </div> <!-- #timeCatBar -->
            <div id="tradeData">
                <div id="tradePriceDataGraph" class="tradeDataGraph fullWidth">
                    <div id="tradePriceDataGraphPlotly"></div>
                </div> <!-- #tradePriceDataGraph -->
                <div id="tradeSizeDataGraph" class="tradeDataGraph fullWidth">
                    <div id="tradeSizeDataGraphPlotly"></div>
                </div> <!-- #tradeSizeDataGraph -->
            </div> <!-- #tradeData -->
        </div> <!-- #tradeDataFrame -->
    </div> <!-- #dashboardFrame -->
</div> <!-- .main -->

<!-- PLOTLY GRAPH -->
<script th:src="@{https://cdn.plot.ly/plotly-latest.min.js}"></script>
<!-- <script th:src="@{/scripts/plotlyGraph.js}"></script> -->
<script th:inline="javascript">
    /*<![CDATA[*/
    function plot(x, y, anomalous_x, anomalous_y, graph) {
        var anomalous = {
            x: anomalous_x,
            y: anomalous_y,
            mode: 'markers',
            type: 'scatter',
            name: 'Anomalous'
        };

        var normal = {
            x: x,
            y: y,
            mode: 'lines',
            type: 'scatter',
            name: 'Normal'
        };

        var data = [normal, anomalous];

        var layout = {
            margin: {
                l: 25,
                r: 10,
                b: 30,
                t: 10,
                pad: 4
            },
            paper_bgcolor: 'transparent',
            plot_bgcolor: '#494949',
            font: {
                family: 'Ubuntu, sans-serif',
                color: '#fff'
            },
            xaxis: {
                gridcolor: '#5E5E5E'
            },
            yaxis: {
                gridcolor: '#5E5E5E'
            },
            hovermode: 'closest',
            autosize: true
        };

        Plotly.newPlot(graph, data, layout);
    }

//    Add symbols to dropdown
    var symbolsUrl = '[(@{/api/getSymbols})]';
    var symbolList = ['All', 'III', 'ADN', 'ADM', 'AAL', 'ANTO', 'ARM', 'AHT', 'ABF', 'AZN', 'AV.', 'BAB', 'BA.', 'BARC', 'BDEV', 'BKG', 'BLT', 'BP', 'BATS', 'BLND', 'BT.A', 'BNZL', 'BRBY', 'CPI', 'CCL', 'CNA', 'CCH', 'CPG', 'CRH', 'DCC', 'DGE', 'DLG', 'DC.', 'EZJ', 'EXPN', 'FRES', 'GKN', 'GSK', 'GLEN', 'HMSO', 'HL', 'HIK', 'HSBA', 'IMB', 'ISAT', 'IHG', 'IAG', 'ITRK', 'INTU', 'ITV', 'JMAT', 'KGF', 'LAND', 'LGEN', 'LLOY', 'LSE', 'MKS', 'MERL', 'MNDI', 'NG', 'NXT', 'OML', 'PSON', 'PSN', 'PFG', 'PRU', 'RRS', 'RB', 'REL', 'REX', 'RIO', 'RR.', 'RBS', 'RDSA', 'RMG', 'RSA', 'SAB', 'SGE', 'SBRY', 'SDR', 'SVT', 'SHP', 'SKY', 'SN.', 'SMIN', 'SPD', 'SSE', 'STAN', 'SL', 'STJ', 'TW.', 'TSCO', 'TPK', 'TUI', 'ULVR', 'UU', 'VOD', 'WTB', 'WOS', 'WPG', 'WPP'];
//    var symbolSelector = document.getElementsByClassName('symbolData')[0];
    var symbolSelector = document.getElementById('symbolList');

    function assignOptions(textArray, selector) {
        for (var i = 0; i < textArray.length;  i++) {
            var currentOption = document.createElement('option');
            currentOption.text = textArray[i];
            selector.appendChild(currentOption);
        }
    }

//    assignOptions(symbolList, symbolSelector);

    //    Update graph on symbol change
    function updateSymbol() {
        var priceHttp = new XMLHttpRequest();
        var sizeHttp = new XMLHttpRequest();

        priceHttp.onreadystatechange = function () {
            if (priceHttp.readyState == 4 && priceHttp.status == 200 ) {
                var symbolData = JSON.parse(priceHttp.responseText);
                plot(symbolData.rollingX, symbolData.rollingY, symbolData.anomalousX, symbolData.anomalousY, 'tradePriceDataGraphPlotly');
                document.getElementsByClassName('modebar')[0].style.display = "none";
            }
        };

        sizeHttp.onreadystatechange = function () {
            if (sizeHttp.readyState == 4 && sizeHttp.status == 200 ) {
                var symbolData = JSON.parse(sizeHttp.responseText);
                plot(symbolData.rollingX, symbolData.rollingY, symbolData.anomalousX, symbolData.anomalousY, 'tradeSizeDataGraphPlotly');
                document.getElementsByClassName('modebar')[0].style.display = "none";
            }
        };

        var symbolId = symbolSelector.value;
        priceHttp.open('GET', '[(@{/api/getSymbolPriceData/})]' + symbolId, true);
        priceHttp.send();

        sizeHttp.open('GET', '[(@{/api/getSymbolSizeData/})]' + symbolId, true);
        sizeHttp.send();

        /*
        var newSymbolData = get_data_by_symbol(symbolSelector.value);
        plot(newSymbolData.x, newSymbolData.y, newSymbolData.anomalous_x,newSymbolData. anomalous_y);
        document.getElementsByClassName('modebar')[0].style.display = "none";
        */
    }

    var http = new XMLHttpRequest();

    http.onreadystatechange = function() {
        if (http.readyState == 4 && http.status == 200) {
            var symbols = JSON.parse(http.responseText);

            for (var i = 0; i < symbols.length; i++) {
                var currentOption = document.createElement('option');
                currentOption.text = symbols[i].symbolName;
                currentOption.value = symbols[i].symbolId;
                symbolSelector.appendChild(currentOption);
            }

            // Set default selection
            symbolSelector.getElementsByTagName('option')[0].selected = true;

            updateSymbol();
        }
    };

    http.open('GET', symbolsUrl, true);
    http.send();

//    Obtain data for new graph
    function get_data_by_symbol(symbol_id) {
        var jsonObj = { "x" : [], "y"  : [], "anomalous_x" : [], "anomalous_y" : []};

        if (symbol_name == 'All') {
            jsonObj.x = /*[[${rollingX}]]*/ [];
            jsonObj.y = /*[[${rollingY}]]*/ [];
            jsonObj.anomalous_x = /*[[${anomalousX}]]*/ [];
            jsonObj.anomalous_y = /*[[${anomalousY}]]*/ [];
        }

        // QUERY BACKEND FOR NEW DATA

        return jsonObj;
    }

    symbolSelector.addEventListener('change', updateSymbol, false);
    /*]]>*/
</script>
</body>

</html>